/* line 17, ../../app/styles/main.scss */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 32, ../../app/styles/main.scss */

html,
body {
  height: 100%;
}

/* line 38, ../../app/styles/main.scss */

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 49, ../../app/styles/main.scss */

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: GhostWhite;
  border: 15px #d9f8f6 solid;
}

/* line 58, ../../app/styles/main.scss */

#scene {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 12, ../../app/styles/main.scss */

#scene.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* vCard */

/* line 63, ../../app/styles/main.scss */

.jumbotron {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20%;
  width: 50%;
  min-width: 320px;
  padding: 1em;
  text-align: center;
  font-weight: 300;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 12, ../../app/styles/main.scss */

.jumbotron.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 79, ../../app/styles/main.scss */

.fn {
  color: #777777;
  font-size: 40px;
  font-size: 2.5rem;
}

@media (max-width: 700px) {
  /* line 79, ../../app/styles/main.scss */

  .fn {
    font-size: 31px;
    font-size: 1.9375rem;
  }
}

/* line 87, ../../app/styles/main.scss */

.note {
  line-height: 2em;
  margin-bottom: 1em;
  font-size: 16px;
  font-size: 1rem;
}

@media (max-width: 700px) {
  /* line 87, ../../app/styles/main.scss */

  .note {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

/* line 96, ../../app/styles/main.scss */

.note a {
  text-decoration: none;
  color: LightSeaGreen;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

/* line 101, ../../app/styles/main.scss */

.note a:hover {
  color: #188781;
}

/* line 107, ../../app/styles/main.scss */

.adr {
  display: block;
}

/* Social icons */

@font-face {
  font-family: "fontello";
  src: url('/styles/fonts/fontello.eot');
  src: url('/styles/fonts/fontello.eot?#iefix') format('eot'), url('/styles/fonts/fontello.woff') format('woff'), url('/styles/fonts/fontello.ttf') format('truetype'), url('/styles/fonts/fontello.svg') format('svg');
}

/* line 114, ../../app/styles/main.scss */

.social a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.5em;
  padding: 0.5em;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: background-color 0.6s ease-out;
  transition: background-color 0.6s ease-out;
  background-color: DimGray;
  color: White;
  font-size: 12px;
  font-size: 0.75rem;
}

/* line 127, ../../app/styles/main.scss */

.social a:hover {
  background-color: LightSeaGreen;
}

/* line 135, ../../app/styles/main.scss */

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  width: 1em;
  height: 1em;
}

/* line 148, ../../app/styles/main.scss */

.icon-github:before {
  content: '\e801';
}

/* line 149, ../../app/styles/main.scss */

.icon-lastfm:before {
  content: '\e805';
}

/* line 150, ../../app/styles/main.scss */

.icon-linkedin:before {
  content: '\e800';
}

/* line 151, ../../app/styles/main.scss */

.icon-tumblr:before {
  content: '\e803';
}

/* line 152, ../../app/styles/main.scss */

.icon-twitter:before {
  content: '\e802';
}

/* line 153, ../../app/styles/main.scss */

.icon-vimeo:before {
  content: '\e804';
}

/* line 154, ../../app/styles/main.scss */

.icon-soundcloud:before {
  content: '\e806';
}

/* line 156, ../../app/styles/main.scss */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}